<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Hi, I'm Prajyukta 👋</h1>
        <p>Aspiring Developer | AI Enthusiast | Problem Solver</p>
        <nav>
            <a href="/">Home</a> | <a href="/contact">Contact</a>
        </nav>
    </header>

    <section>
        <h2>About Me</h2>
        <p>I am a BTech CSE student passionate about AI, Web Development, and Cloud Computing.</p>
    </section>

    <section>
        <h2>Projects</h2>
        <ul>
            <section>
        <li>📌 Project 1: AI Threat Detection  
            <a href="https://github.com/Prajyukta/Pyhton-project_jarvis-AI_powered_voice_assistant" target="_blank">[View on GitHub]</a>
        </li>
        <li>📌 Project 2: E-commerce Website  
            <a href="https://github.com/Prajyukta/apex-planet_task-5" target="_blank">[View on GitHub]</a>
        </li>
        <li>📌 Project 3: Medicine Delivery App  
            <a href="https://github.com/Prajyukta/Medifast---Online-delivery-App" target="_blank">[View on GitHub]</a>
        </li>
        </ul>
    </section>
</body>
</html>
